body {
   

    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;

    background-image:url(../images/Blüten.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    text-decoration:none;
  }
  img{
    
    object-fit: cover; 
    max-width: 100%;
    height: auto;
  }

  header{
    background-color:#b1ece0;
    padding:1% !important;
    
  }
  p{
    word-spacing: 4px;
    line-height: 30px;
  }
  .klammer
  {
    color:red;
  }
  .navbar{
    position:relative !important;
    margin:0 !important;
    background-color: #dee4e9;
    
  }

  .current{
    background-color: lightblue;
    color:white;
    border-radius: 2px;
    padding: 5px;
  }
 
  .bilder{
    margin-top:5%;
  }
  .text{
    margin-top: 5%;
    background-color:white;
    padding:5px;
    
  }

  #hundeteam{
    margin-top:5%;
    border:2px solid white;
    padding:5px;
    border-radius:20px;
  }
  .abouttitel{
    background-color:#b1ece0;
    color:black;
    text-align:center;
    margin-left: 50%;
    width:30%;
    margin-top:20%;
  }
  .abouttext{
    background-color: white;
    padding:5px;
    width:75%;
  }
  .pos{
    margin-top:5%;
    padding:5px;
    margin-left:10%;
  }
  #guest{
    background-color: purple;
    color:white;
  }

  
  
  footer{
    
        background-color:#b1ece0;
        padding:1% !important;
        margin-top:5%;
        position:relative;
        bottom: 0;
        width: 100%;
        height: 60px;
            
        
      
  }
  .pagination{
    position:relative;
    left:38%;
    margin-top:2%;
    margin-bottom:2%;
    
  }
  

  

